snippet estadosmexico "Estados de méxico"
Aguascalientes
Baja California
Baja California Sur
Campeche
Chiapas
Chihuahua
Ciudad de México
Coahuila de Zaragoza
Colima
Durango
Guanajuato
Guerrero
Hidalgo
Jalisco
Estado de México
Michoacán de Ocampo
Morelos
Nayarit
Nuevo León
Oaxaca
Puebla
Querétaro
Quintana Roo
San Luis Potosí
Sinaloa
Sonora
Tabasco
Tamaulipas
Tlaxcala
Veracruz de Ignacio de la Llave
Yucatán
Zacatecas
endsnippet
