extends javascript

snippet ifa interface
	interface $1 {
		$0
	}

snippet af arrow function
	($1) => { $0 }

snippet afc arrow function as a constant
	const $1 = ($2) => { $0 }

snippet eslintignorenextline eslint ignore next line
  // eslint-disable-next-line $1
